name: CI- Continuous integration Tests et SonarScan

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  # --- JOB FRONTEND ---
  # --- JOB FRONTEND ---
  frontend-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: './front/package-lock.json'

      - name: Install dependencies
        working-directory: ./front
        run: npm ci

      - name: Run Frontend Tests
        working-directory: ./front
        # On s'assure que le coverage est bien activé
        run: npm test -- --watch=false --browsers=ChromeHeadless --code-coverage

      - name: List files (Debug) # Cette étape permet de voir où est réellement le fichier si ça échoue
        run: ls -R front/coverage

      - name: Upload Frontend Coverage
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          # Utilisation d'un joker (wildcard) pour trouver le fichier lcov.info
          # peu importe le sous-dossier dans coverage
          path: front/coverage/**/lcov.info

  # --- JOB BACKEND + SONAR ---
  build-and-analyze:
    runs-on: ubuntu-latest
    needs: frontend-tests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # CRUCIAL : On récupère le rapport du Frontend généré plus haut
      - name: Download Frontend Coverage
        uses: actions/download-artifact@v4
        with:
          name: frontend-coverage
          path: front/coverage/

      - name: Build and Test Backend
        working-directory: ./back
        run: mvn clean test jacoco:report

      - name: SonarQube Scan
        uses: sonarSource/sonarqube-scan-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.sources=back/src/main/java,front/src
            -Dsonar.tests=back/src/test/java,front/src
            -Dsonar.java.binaries=back/target/classes
            -Dsonar.coverage.jacoco.xmlReportPaths=back/target/site/jacoco/jacoco.xml
            -Dsonar.javascript.lcov.reportPaths=front/coverage/lcov.info